.itemDisplay{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    
}

.imgItem{
    width: 80px;
    height: 80px;
    border-radius: 25%;
}

.items{
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 1px solid white;
    background-color: white;
    border-radius: 10%;
}
