.navItems{
    display:grid ;
    grid-column: 40% 60%;
}

.catTab{
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    height: 656px;

    background-color:#f6f7fb;
    
}
#li{
    width: 145px;
    margin: 5px;
    border: 1px solid white;
    color: rgb(173, 173, 173);
    background-color: white;
    line-height: 90px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#li:hover{
    background-color: #f6f7fb
    
}
.itemAndCategory{
    display: grid;
    grid-template-columns: 40% 60%;
}
.mainBody{
    display: grid;
    grid-template-columns: 50% 50%;

}
